%system-message {
  display: block;
  border-width: 1px;
  border-style: solid;
  @extend %typeface-system;
  @extend %border-grayscale-medium;
  @extend %block-spacing-std;
  @extend %border-radius-std;

  &::before {
    display: block;
    margin: 0 auto get-layout("block-spacing", "std");
  }

  &--info {
    @extend %color-system-info;
    @extend %border-system-info;
  }

  &--success {
    @extend %color-system-success;
    @extend %border-system-success;

    &::before {
      display: block;
      @extend %icon-ui_message-success--standalone;
    }
  }

  &--warning {
    @extend %color-system-warning;
    @extend %border-system-warning;

    &::before {
      display: block;
      @extend %icon-ui_message-warning--standalone;
    }
  }

  &--error {
    @extend %color-system-error;
    @extend %border-system-error;

    &::before {
      display: block;
      @extend %icon-ui_message-error--standalone;
    }
  }
}