// Liste de liens

/*
Links

Liste de liens

Markup:
<ul class="links">
    <li class="luctus first active"><a class="active" href="#">luctus</a></li>
    <li class="elementum active"><a class="active" href="#">elementum</a></li>
    <li class="vestibulum active"><a class="active" href="#">vestibulum</a></li>
    <li class="id active"><a class="active" href="#">id</a></li>
    <li class="orci active"><a class="active" href="#">orci</a></li>
    <li class="pellentesque active"><a class="active" href="#">pellentesque</a></li>
    <li class="ac active"><a class="active" href="#">ac</a></li>
    <li class="tincidunt active"><a class="active" href="#">tincidunt</a></li>
    <li class="consectetur active"><a class="active" href="#">consectetur</a></li>
    <li class="a last active"><a class="active" href="#">a</a></li>
</ul>

Styleguide 4.1.4.
*/

ul.links {
  margin: get-layout("block-spacing", "std") 0 get-layout("block-spacing", "std") 0;

  ul {
    margin-bottom: get-layout("text-spacing", "std");
  }

  li {
    margin-bottom: get-layout("text-spacing", "small");

    &::before {
      content: "- ";
      display: inline-block;
      margin-right: get-layout("text-spacing", "smaller");
    }
  }

  a {
    @extend %color-ui-submit;

    &:hover {
      opacity: .8;
    }
  }
}
