// Styles génériques de menu
// En général, ne sera activé que tant que la structure du thème ne sera pas déployée sur le Drupal

.menu {
  @extend %typeface-std;
  @extend %table-list-from-mobile;
  @extend %font-size-big;
  text-align: center;

  span {
    display: block;
  }

  a {
    display: block;

    &:hover {
      color: get-color("brand", "first");
    }
  }

  li {
    width: auto;

    &.expanded {

      &::before {
        content: ">";
        position: absolute;
        right: get-layout("text-spacing", "smaller");
        top: 50%;
        margin-top: -.5em;
      }
    }

    &:hover {
      background: get-color("grayscale", "medium");

      > a {
        color: get-color("brand", "first");
      }
    }
  }

  > li {
    width: 20%;
    position: relative;
    vertical-align: top;
    border-right: 1px solid mix(get-color("grayscale", "medium"), #ffffff, 85%);

    > a {
      display: block;
      padding: get-layout("block-spacing", "std");
    }

    &:first-child {
      border-left: 1px solid mix(get-color("grayscale", "medium"), #ffffff, 85%);
    }

    &:hover {
      background: mix(get-color("grayscale", "medium"), #ffffff, 90%);
    }

    &:hover {

      .menu {
        display: block;
      }
    }

    .menu {
      display: none;
      @extend %typeface-std;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background: mix(get-color("grayscale", "medium"), #ffffff, 90%);
      text-align: left;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .5);

      > li {
        width: auto;
        display: block;
        border: 0;
        border-top: 1px solid mix(get-color("grayscale", "medium"), #ffffff, 85%);

        a,
        span {
          padding: get-layout("block-spacing", "small");
        }

        &:first-child {
          border-top: 0;
        }

        &:hover {

          .menu {
            display: block;
          }
        }

        .menu {
          display: none;
          position: absolute;
          left: - get-layout("text-spacing", "smaller");
          margin-left: 100%;
          width: 200px;
          top: get-layout("text-spacing", "smaller");

          > li {
            display: block;
            border: 0;
            border-top: 1px solid mix(get-color("grayscale", "medium"), #ffffff, 85%);

            > a {
              padding: get-layout("block-spacing", "small");
            }

            &:first-child {
              border-top: 0;
            }
          }
        }
      }
    }
  }
}
