// Message Drupal

.messages {
  @extend %typeface-system;
  @extend %fs-system-root;
  margin: get-layout("block-spacing", "std") 0 get-layout("block-spacing", "std") 0;

  ul {
    margin-bottom: get-layout("text-spacing", "std");

    li {
      margin-bottom: get-layout("text-spacing", "small");

      label {
        display: inline !important;
      }

      &::before {
        content: "- ";
        display: inline-block;
        margin-right: get-layout("text-spacing", "smaller");
      }
    }
  }
}
