// Status

/*
Status

Messages sytèmes

Markup:
<div class="messages status">
    <h2 class="element-invisible">Status message</h2>
    Vivamus mollis, metus nec tincidunt venenatis, risus odio sodales risus, vitae ultrices est nisi eget ante.
</div>
<div class="messages warning">
    <h2 class="element-invisible">Status message</h2>
    Phasellus ac eleifend magna.
</div>
<div class="messages error">
    <h2 class="element-invisible">Status message</h2>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</div>

Styleguide 5.3.6.
*/

.error {
  @extend %color-system-error;
  border-left-color: get-color("system", "error");
}

.warning {
  @extend %color-system-warning;
  border-left-color: get-color("system", "warning");
}

.ok {
  @extend %color-system-success;
}

div.status,
div.warning,
div.error {
  @extend %system-message;
}

div.status {
  @extend %system-message--info;
}

div.warning {
  @extend %system-message--warning;
}

div.error {
  @extend %system-message--error;
}