// Onglets horizontaux

.vertical-tabs {
  @extend %clearfix-from-mobile;
  border: 1px solid get-color("grayscale", "medium");
  margin: get-layout("block-spacing", "std") 0 get-layout("block-spacing", "std") 0;

  &-list {
    float: left;
    width: 25%;
    box-sizing: border-box;

    > li {
      position: relative;
      padding: get-layout("block-spacing", "small");
      border-bottom: 1px solid get-color("grayscale", "medium");
      @extend %color-grayscale-medium;
      background: mix(get-color("grayscale", "medium"), #ffffff, 20%);

      > a {

        &:hover {
          @extend %color-grayscale-dark;

          .summary {
            color: mix(get-color("grayscale", "dark"), #ffffff, 80%);
          }
        }
      }

      &.selected {
        @extend %color-ui-submit;
        @extend %background-grayscale-light;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 1px;
          height: 100%;
          right: - 1px;
          top: 0;
          @extend %background-grayscale-light;
        }
      }

      strong {
        display: block;
        @extend %typeface-std;
      }

      .summary {
        display: block;
        font-style: italic;
        @extend %fs-std-down-1;
        @extend %color-grayscale-medium;
      }
    }
  }

  &-panes {
    float: right;
    width: 75%;
    padding: get-layout("text-spacing", "small") get-layout("block-spacing", "std");
    box-sizing: border-box;
    border-left: 1px solid get-color("grayscale", "medium");
  }
}