/*
Details

Markup:
<details class="js-form-wrapper form-wrapper">
  <summary>Details closed</summary>
  <div class="details-wrapper">
    Content
  </div>
</details>

Styleguide 5.3.5
*/

details {
  margin: get-layout("block-spacing", "std") 0;
}

details > .details-wrapper {
  @extend %box-border-std;
  @extend %border-grayscale-medium;
  padding: get-layout("block-spacing", "std");

  table.admin-table {
    width: 100%;
    margin: get-layout('block-spacing', 'std') 0;

    td {
      padding-right: get-layout('block-spacing', 'small');
    }

    thead {

      th {
        @extend %typeface-heading;
        @extend %fs-heading-root;
        text-align: left;
        padding-bottom: get-layout('block-spacing', 'std');
      }
    }

    .image-widget-data {
      @extend %fs-std-down-1;
    }
  }
}

summary {
  display: block;
  @extend %typeface-heading;
  @extend %fs-heading-root;
  @extend %background-brand-first;
  @extend %color-grayscale-light;
  padding: get-layout("text-spacing", "small") get-layout("text-spacing", "std");
}
