/*
Search Form

Markup:
<div class="content container-inline">
  <form action="#" method="get" id="search-block-form--2" accept-charset="UTF-8" class="search-form search-block-form" data-drupal-form-fields="edit-keys--2">
    <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
      <label for="edit-keys--2" class="visually-hidden">Search</label>
      <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys--2" name="keys" value="" size="15" maxlength="128" class="form-search">
    </div>
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--3"><input class="search-form__submit button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--5" value="Search"></div>
  </form>
</div>

Styleguide 5.3.19
*/

.search-form {

  > .container-inline {
    @extend %grid-strech-flex-from-tablet;
    justify-content: space-between;
    width: 100%;

    .form-type-search {
      @extend %strech-child-from-tablet;
      width: auto;

      @include breakpoint("tablet") {
        flex: 1;
        padding: 0 get-layout('block-spacing', 'std') 0 0;
      }
    }
  }

  .form-actions {
    margin: 0;
  }

  .search-help-link {
    @extend .icon-help;
    margin-top: get-layout('block-spacing', 'std');
  }

  & + h2 {
    @extend %h2;
  }
}

.button.search-form__submit,
.search-form__submit {
  @extend %button-action;
  @extend %button-action--small;
}
