/*
Burger menu

Transposer des éléments de la page vers un volet latéral

Markup:
<style type="text/css">
    .main-menu {
        position: relative;
        height: 50px;
        background: pink;
    }
    .main-menu > ul, .burger-menu--fixed > ul {
        height: 50px;
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        list-style: none;
        text-align: center;
        table-layout: fixed;
    }
    .burger-menu--fixed > ul {
        height: 40px;
    }
    .main-menu > ul > li, .burger-menu--fixed > ul > li {
        display: table-cell;
        padding: 0 2px;
        vertical-align: middle;
        border-right: 1px dotted grey;
    }
</style>
<div class="main-menu">
    <ul>
        <li><a href="#">Item #1</a></li>
        <li><a href="#">Item #2</a></li>
        <li><a href="#">Item #3</a></li>
        <li><a href="#">Item #4</a></li>
        <li><a href="#">Item #5</a></li>
    </ul>
</div>
<script>
  var testBurgerMenu = new BurgerMenu({
    // prefix: 'test-menu',
    trigger: '.main-menu',
    duration: 250,
    // side: 'left',
    // scroll: true,
    // trigger: function(trigger){
    //  console.log(trigger);
    // }
    structure: {
      scrollable: '.main-menu > ul',
      fixed: '.main-menu > ul'
    },
    onStructureChanged: function (structure, self) {
        $.each(structure, function (i, item) {
        for (var j = 0; j < 50; j++) {
          item.container.append('<div>Lorem ipsum dolor sit amet</div>');
        }
      });
    },
    onBeforeOpen: function (self) {
      $('body').css({'margin-top': '50px'});
      $('.main-menu').css({
        'position': 'fixed',
        'z-index': '51',
        'left': '0',
        'top': '0'
      });
    },
    onAfterOpen: function (self) {},
    onBeforeClose: function (self) {},
    onAfterClose: function (self) {
      $('body').css({'margin-top': '0'});
      $('.main-menu').removeAttr('style');
    },
    responsive: {
      640: {
        side: 'left'
      },
      960: {
        bypass: true
      }
    }
  });
  console.log(testBurgerMenu);
</script>

Styleguide 5.1.3.
*/

$name: "burger-menu";
$z-index-base: 49;
$open-class: 'open';

.#{$name} {

  &--overlay {
    z-index: $z-index-base;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }

  &--container {
    z-index: ($z-index-base + 1);
    position: fixed;
    top: 0;
    width: 90%;
    background: get-color('grayscale', 'soft');
  }

  &--trigger {
    cursor: pointer;
    @extend %background-grayscale-soft;
    @extend %icon-ui_burger-menu-std--standalone;

    &.#{$open-class} {
      @extend %background-grayscale-dark;
      @extend %icon-ui_burger-menu-action;
    }
  }
}