/*
Compare picture

Menu déroulant

Markup:
<style type="text/css">
  .teaser-skin-result-demo {
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
  }
  .teaser-skin-result-demo--swipe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Georgia, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #000000;
  }
  .teaser-skin-result-demo--swipe:hover,
  .teaser-skin-result-demo--swipe:active {
    cursor: col-resize;
  }
  .teaser-skin-result-demo--swipe:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transform: translateX(-50%);
    background: #000000;
  }
  .teaser-skin-result-demo--before,
  .teaser-skin-result-demo--after {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    line-height: 30px;
    z-index: 3;
    transform: translateY(-50%);
  }
  .teaser-skin-result-demo--before:before,
  .teaser-skin-result-demo--after:after {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    text-transform: uppercase;
  }
  .teaser-skin-result-demo--before:before {
    content: '<';
    margin-right: 35px;
  }
  .teaser-skin-result-demo--after:after {
    content: '>';
    margin-left: 35px;
  }
  .teaser-skin-result-demo--before {
    position: absolute;
    top: 50%;
    right: 100%;
    text-align: right;
    white-space: nowrap;
  }
  .teaser-skin-result-demo--after {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: left;
    white-space: nowrap;
  }
  .teaser-skin-result-demo--visual-after-overflow {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  .teaser-skin-result-demo--visual-before img {
    display: block;
    width: 100%;
    height: auto;
  }
  .teaser-skin-result-demo--visual-after img {
    float: right;
    display: block;
    width: auto;
    height: 100%;
  }
  .teaser-skin-result-demo--visual-after {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
</style>
<div class="teaser-skin-result-demo">
    <img src="http://lorempixel.com/400/200/sports/1/" />
    <img src="http://lorempixel.com/400/200/sports/2/" />
</div>
<script>
  var $targets = $('.teaser-skin-result-demo');
  $targets.each(function () {
      var $target = $(this);
      var $imgBefore = $('img:first', $target);
      var $imgAfter = $('img:not(:first)', $target);
      var $labelBefore = 'avant';
      var $labelAfter = 'après';
      $target.comparePicture($imgBefore, $imgAfter, $labelBefore, $labelAfter);
  });
</script>

Styleguide 5.1.9.
*/
