/*
Select custom

Customiser graphiquement la partie non déroulée d'un select

Markup:
<select id="test-select">
  <option value="">Valeur par défaut</option>
  <option value="1">Item 1</option>
  <option value="2">Item 2</option>
  <option value="3">Item 3</option>
  <option value="4">Item 4</option>
  <option value="5">Item 5</option>
</select>
<script>
    $('#test-select').customizeSelect();
</script>

Styleguide 5.1.4.
*/

.custom-select {
  position: relative;
  @extend %form-field;

  &--text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  select {
    appearance: none;
  }
}