/*
Blockwall

Masonry-like script

Markup:
<style type="text/css">
    .blockwall {
        position: relative;
        margin: 0 auto;
        width: 100%;
        background:rgba(255,255,255,1);
        border-left: 1px dashed #cc0000;
        border-right: 1px dashed #cc0000;
    }
    .block {
        opacity: 0;
        float: left;
        margin: 0 15px 30px 0;
        background:rgba(0,0,0,.2);
    }
    .block1 {
        width: 300px;
        height: 200px;
    }
    .block2 {
        width: 300px;
        height: 250px;
    }
    .block3 {
        width: 300px;
        height: 600px;
    }
    .block4 {
        width: 960px;
        height: 300px;
        margin-left: 0;
    }
</style>
<div class="blockwall">
    <div class="block block1">
        block1
    </div>
    <div class="block block2">
        block2
    </div>
    <div class="block block1">
        block1
    </div>
    <div class="block block2">
        block2
    </div>
    <div class="block block3">
        block3
    </div>
    <div class="block block1">
        block1
    </div>
    <div class="block block2">
        block2
    </div>
    <div class="block block3">
        block3
    </div>
    <div class="block block4">
        block4
    </div>
</div>
<script>
    var testBlockwall = new BlockWall({
        bypass: false,
        wall: '.blockwall',
        blocks: '.block',
        unit: 'px',
        gutterX: 30,
        gutterY: 30
    });
    console.log(testBlockwall);
</script>

Styleguide 5.2.
*/