// Styles basics pour un contexte "views"

.views {

  &-align {

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }
  }

  &-view-grid {

    tbody {
      //
    }
  }
}

.view {

  .progress-disabled {
    float: none;
  }
}
