// Styles de formulaire pour un contexte "views"

.views-exposed-form {

  // Identique à .form-item label

  label {
    @extend %form-label;
    display: block;
  }

  .views-exposed-widgets {
    border: 0;
    border-collapse: collapse;
    // Mise en forme tabulaire
    display: table;
    width: 100%;
    // Identique à .form-item
    margin: get-layout("text-spacing", "std") 0;

    .views-exposed-widget {
      width: 20%;
      display: table-cell;
      vertical-align: top;
      padding-left: get-layout("block-spacing", "small");

      &:first-child {
        padding-left: 0;
      }

      .form-item,
      .form-submit {
        margin-top: 0;
        margin-bottom: 0;
      }

      .form-item {

        .form-text,
        .form-textarea,
        .form-select,
        .form-select {
          width: 100%;
        }
      }

      &.views-submit-button {
        width: auto;
        padding-top: 19px + get-layout("text-spacing", "std");
        white-space: nowrap;
      }
    }
  }

  .form-item,
  .form-submit {
    //
  }
}
