.one-col,
.node-village-edit-form,
.node-village-form {
  padding: get-layout("block-spacing", "std");

  @include breakpoint("table") {
    padding: get-layout("block-spacing", "std") map-get($grid-system, "grid-tablet-1");
  }

  @include breakpoint("desktop") {
    padding: get-layout("block-spacing", "large") map-get($grid-system, "grid-desktop-2");
  }

  @include breakpoint("desktop-large") {
    padding: get-layout("block-spacing", "x-large") map-get($grid-system, "grid-desktop-large-3");
  }

  .one-col {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.node-village-form {

  .one-col & {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}