$name: "button-cancel";

/*
Bouton d'annulation

button-cancel

default     - Version de base
:hover      - Roll-over

sg-filename:
#{$name}

Markup:
<button class="button-cancel {$modifiers}">Lorem ipsum</button>

Styleguide 2.5.2
*/

.#{$name} {
  @extend %button-cancel;

  &:focus {
    @extend %button-cancel--focus;
  }

  &:hover {
    // @extend %button-action--hover;
  }

  &:active {
    @extend %button-cancel--active;
  }
}