$name: "button-action";

/*
Bouton d'action

button-action

default     - Version de base
block       - Version block
small       - Version small
big         - Version big
:hover      - Roll-over

sg-filename:
#{$name}

Markup:
<button class="button-action {$modifiers}">Lorem ipsum</button>

Styleguide 2.5.1
*/

.#{$name} {
  @extend %button-action;

  &:focus {
    @extend %button-action--focus;
  }

  &:hover {
    @extend %button-action--hover;
  }

  &:active {
    @extend %button-action--active;
  }

  &.block {
    @extend %button-action--block;
  }

  &.small {
    @extend %button-action--small;
  }

  &.big {
    @extend %button-action--big;
  }
}