/*
<em>- helpers -</em>

Outils CSS récurents à étendre en SASS ou utiliser dans l'HTML

Styleguide 2.1.
*/

/*
inline-list

Liste d'items à afficher en ligne

Markup:
<ul class="inline-list-from-mobile">
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>

Styleguide 2.1.1.
*/

.inline-list {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %inline-list-from-#{$device};
    }
  }
}

/*
table-list

Liste d'items à afficher de manière tabulaire

Markup:
<ul class="table-list-from-mobile">
  <li style="display: table-cell;">List item</li>
  <li style="display: table-cell;">List item</li>
  <li style="display: table-cell;">List item</li>
</ul>

Styleguide 2.1.2.
*/

.table-list {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %table-list-from-#{$device};
    }
  }
}

/*
flex-image

Forcer une image à s'adapter à la largeur du parent (Peut entraîner un sur-echantillonage)

Markup:
<img class="flex-image-from-mobile" src="http://www.gettyimages.fr/CMS/Pages/RoyaltyFree/StaticContent/113198687.jpg" alt="" width="637" height="450" />

sg-wrapper:
<div style="width:25%">
  <sg-wrapper-content/>
</div>

Styleguide 2.1.3.
*/

.flex-image {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %flex-image-from-#{$device};
    }
  }
}

/*
flex-child-image

Forcer les images du block à s'adapter à la largeur du parent (Peut entraîner un sur-echantillonage)

Markup:
<div class="flex-child-image-from-mobile">
  <img src="http://www.gettyimages.fr/CMS/Pages/RoyaltyFree/StaticContent/113198687.jpg" alt="" width="637" height="450" />
</div>

sg-wrapper:
<div style="width:25%">
  <sg-wrapper-content/>
</div>

Styleguide 2.1.4.
*/

.flex-child-image {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %flex-child-image-from-#{$device};
    }
  }
}

/*
overlay

Placer un layer HTML par dessus un éléments du DOM dimmensionné

Markup:
<div class="overlay-from-mobile">Lorem ipsum<span>

sg-wrapper:
<div style="position:relative;height:#{$styleguide-item-box-height};background:rgba(#{$styleguide-item-box-bg},.2);">
  <sg-wrapper-content/>
</div>

Styleguide 2.1.5.
*/

.overlay {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %overlay-from-#{$device};
    }
  }
}

/*
clearfix

Remettre à zéro les floats ainsi que les marges

Markup:
<div class="clearfix-from-mobile">clearfix<span>

Styleguide 2.1.6.
*/

.clearfix {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %clearfix-from-#{$device};
    }
  }
}

/*
v-align

Aligner verticalement un contenu

Markup:
<div style="height:#{$styleguide-item-box-height};background:rgba(#{$styleguide-item-box-bg},.2);">
  <span class="v-align-from-mobile">Lorem ipsum<span>
</div>

Styleguide 2.1.7.
*/

.v-align {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %v-align-from-#{$device};
    }
  }
}

/*
text-overflow

Masquer le contenu texte

Markup:
<div class="text-overflow-from-mobile" style="height:#{$styleguide-item-box-height};width:100%;background:rgba(#{$styleguide-item-box-bg},.2);">
  Lorem ipsum dolor sit amet
</div>

Styleguide 2.1.8.
*/

.text-overflow {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %text-overflow-from-#{$device};
    }
  }
}

/*
text

Définir un alignement de texte spécifique

left        - Texte aligné à gauche
center      - Texte centré
right       - Texte aligné à droite

Markup:
<div class="text-{$modifiers}-from-mobile">Lorem ipsum</div>

Styleguide 2.1.9.
*/

.text {

  &-left {

    @each $device in $responsive-system {

      &-from-#{$device} {
        @extend %text-left-from-#{$device};
      }
    }
  }

  &-right {

    @each $device in $responsive-system {

      &-from-#{$device} {
        @extend %text-right-from-#{$device};
      }
    }
  }

  &-center {

    @each $device in $responsive-system {

      &-from-#{$device} {
        @extend %text-center-from-#{$device};
      }
    }
  }
}

/*
set-relative

Activer position: relative;

Markup:
<div class="set-relative-from-mobile">Lorem ipsum</div>

Styleguide 2.1.10.
*/

.set-relative {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %set-relative-from-#{$device};
    }
  }
}

/*
hide

Masquer de manière spécifique pour un palier un block

Styleguide 2.1.11.
*/

.hide {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %hide-from-#{$device};
    }
  }
}

/*
clear-grid

Pour un élément de grille, libère les float:left et float:right, et supprime le margin-left

Styleguide 2.1.12.
*/

.clear-grid {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %clear-grid-from-#{$device};
    }
  }
}

/*
clear-left

Pour un élément de grille, libère les float:left

Styleguide 2.1.13.
*/

.clear-left {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %clear-left-from-#{$device};
    }
  }
}

/*
clear-right

Pour un élément de grille, libère les float:right

Styleguide 2.1.14.
*/

.clear-right {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %clear-right-from-#{$device};
    }
  }
}

/*
grid-strech-float

Elément de grille strech flottante (à appliquer sur les enfants)

Markup:
<div class="grid-strech-float">Lorem ipsum</div>

Styleguide 2.1.15.
*/

.grid-strech-float {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %grid-strech-float-from-#{$device};
    }
  }
}

/*
grid-strech-flex

Elément de grille strech flottante (à appliquer sur le parent)

Markup:
<div class="grid-strech-flex">Lorem ipsum</div>

Styleguide 2.1.16.
*/

.grid-strech-flex {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %grid-strech-flex-from-#{$device};
    }
  }
}

/*
strech-child

Déclencher la pleine occupation verticaled'un enfant d'une liste strech

Markup:
<ul class="grid-strech-flex-from-mobile">
  <li style="width:50%;" class="strech-child-from-mobile">
    <a href="">Lorem ipsum</a>
  </li>
  <li style="width:50%;" class="strech-child-from-mobile">
    <a href="">Lorem ipsum dolor sit amet</a>
  </li>
  <li style="width:50%;" class="strech-child-from-mobile">
    <a href="">Lorem ipsum</a>
  </li>
</ul>

sg-wrapper:
<div style="max-width: 440px;">
  <sg-wrapper-content/>
</div>

Styleguide 2.1.17.
*/

.strech-child {

  @each $device in $responsive-system {

    &-from-#{$device} {
      @extend %strech-child-from-#{$device};
    }
  }
}

/*
padders

Ajouter un padding spécifique au site

padder          - Padding sur les 4 côtés
padder-left     - Padding à gauche
padder-right    - Padding à droite
padder-top      - Padding en haut
padder-bottom   - Padding en bas

Markup:
<div class="{$modifiers}">Lorem ipsum<span>

Styleguide 2.1.18.
*/

.padder {
  @extend %padder;

  &-top {
    @extend %padder-top;
  }

  &-right {
    @extend %padder-right;
  }

  &-bottom {
    @extend %padder-bottom;
  }

  &-left {
    @extend %padder-left;
  }
}

/*
margers

Ajouter un margin spécifique au site

marger          - Margin sur les 4 côtés
marger-left     - Margin à gauche
marger-right    - Margin à droite
marger-top      - Margin en haut
marger-bottom   - Margin en bas

Markup:
<div class="{$modifiers}">Lorem ipsum<span>

Styleguide 2.1.19.
*/

.marger {
  @extend %marger;

  &-top {
    @extend %marger-top;
  }

  &-right {
    @extend %marger-right;
  }

  &-bottom {
    @extend %marger-bottom;
  }

  &-left {
    @extend %marger-left;
  }
}