$name: "heading-village";

/*
#{$name}

Zone d'entête présentant un village

default             - Version de base
focus               - Version avec priorité aux images

sg-filename:
#{$name}

Markup:
<div class="#{$name} {$modifiers}">
  <ul class="#{$name}--actions">
    <li><sg-insert>2.5.4-2</sg-insert></li>
    <li><sg-insert>2.5.4-1</sg-insert></li>
  </ul>
  <div class="#{$name}--picture">
    <ul>
      <li>
        <img src="img/models/heading-village.jpg" alt="" width="1920" height="1080" />
      </li>
      <li>
        <img src="img/models/heading-village-2.jpg" alt="" width="1920" height="1080" />
      </li>
      <li>
        <img src="img/models/heading-village-3.jpg" alt="" width="1920" height="1080" />
      </li>
    </ul>
  </div>
  <div class="#{$name}--overlay">
    <div class="#{$name}--title">
      <h1>
        Azenhas do Mar&nbsp;<img class="#{$name}--flag" src="img/models/it.jpg" alt="" width="75" height="50" />
      </h1>
    </div>
    <div class="#{$name}--rating">
      <sg-insert>2.6-4</sg-insert>
    </div>
    <p class="#{$name}--itinerary">
      <sg-insert>2.5.1-6</sg-insert>
    </p>
  </div>
</div>

Styleguide 3.7
*/

.#{$name} {
  position: relative;
  overflow: hidden;

  &--content {
    position: relative;
  }

  &--picture {
    position: relative;
    overflow: hidden;
    max-height: 60vh;

    img {
      @extend %flex-image-from-mobile;
    }
  }

  &--overlay {
    @extend %color-grayscale-light;

    @extend %overlay-from-tablet;
    @include breakpoint("tablet") {
      background-color: rgba(0, 0, 0, .6);
      transition: background $css-transition-std ease-out;
    }
  }

  &--title {
    @extend %typeface-heading;
    @extend %fs-heading-up-5;
    @extend %text-shadow-large;
    @extend %color-grayscale-light;
    @extend %background-grayscale-dark;
    text-align: center;
    padding: get-layout("block-spacing", "std");

    @include breakpointBetween("mobile", "tablet") {
      text-shadow: none;
    }

    @include breakpoint("tablet") {
      background-color: transparent;
      line-height: 1;
      z-index: 1;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      width: 100%;
      box-sizing: border-box;
      transition: all $css-transition-std ease-out;
      padding: 0 get-layout("block-spacing", "large");
    }

    @include breakpoint("desktop") {
      padding: 0 get-layout("block-spacing", "x-large");
    }
  }

  &--flag {

    img {
      display: inline-block;
      height: .5em;
      width: auto;
      margin-left: get-layout("text-spacing", "std");
    }
  }

  &--rating {
    position: absolute;
    right: 0;
    bottom: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 get-layout("block-spacing", "small") get-layout("block-spacing", "small") 0;

    @include breakpoint("tablet") {
      bottom: auto;
      top: 0;
      padding: get-layout("block-spacing", "std") get-layout("block-spacing", "std") 0 0;
    }

    @include breakpoint("desktop") {
      padding: get-layout("block-spacing", "large") get-layout("block-spacing", "large") 0 0;
    }
  }

  &--toggler {
    @extend %fs-std-root;
    display: none;
    text-align: center;
    margin-top: get-layout("block-spacing", "std");

    @include breakpoint("tablet") {
      display: block;
    }
  }

  &--itinerary {

    @include breakpoint("tablet") {
      z-index: 2;
      position: absolute;
      right: 0;
      bottom: 0;
      width: auto;
      max-width: 100%;
      padding: 0 get-layout("block-spacing", "std") get-layout("block-spacing", "std") 0;
    }

    @include breakpoint("desktop") {
      padding: 0 get-layout("block-spacing", "large") get-layout("block-spacing", "large") 0;
    }

    @include breakpoint("desktop-large") {
      padding: 0 get-layout("block-spacing", "x-large") get-layout("block-spacing", "x-large") 0;
    }

    .button-action {
      @extend %button-action--block;

      @include breakpoint("tablet") {
        display: inline-block;
      }
    }
  }

  &--actions {
    @extend %grid-strech-flex-from-mobile;
    @extend %background-grayscale-dark;
    flex-wrap: nowrap;
    padding: get-layout("block-spacing", "small");

    @include breakpoint("tablet") {
      display: block;
      z-index: 3;
      position: absolute;
      left: 0;
      top: 0;
      max-width: 100%;
      box-sizing: border-box;
      background-color: transparent;
      padding: get-layout("block-spacing", "std") 0 0 get-layout("block-spacing", "std");
    }

    @include breakpoint("desktop") {
      padding: get-layout("block-spacing", "large") 0 0 get-layout("block-spacing", "large");
    }

    @include breakpoint("desktop-large") {
      padding: get-layout("block-spacing", "x-large") 0 0 get-layout("block-spacing", "x-large");
    }

    li {
      display: inline-block;
      margin-right: get-layout("text-spacing", "std");

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .responsive-slider--pager {

    &-prev,
    &-next {

      @include breakpoint("tablet") {
        opacity: .3;
      }

      &.off {

        @include breakpoint("tablet") {
          opacity: .15;
        }
      }
    }
  }

  &.focus {

    .#{$name} {

      &--picture {
        max-height: none;
      }

      &--overlay {

        @include breakpoint("tablet") {
          background-color: rgba(0, 0, 0, 0);
        }
      }

      &--title {
        @extend %fs-heading-up-4;

        @include breakpoint("tablet") {
          z-index: 1;
          left: 0;
          bottom: 0;
          text-align: left;
          transform: translate(0, 0);
          background-image: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
          padding: get-layout("block-spacing", "std");
        }

        @include breakpoint("desktop") {
          padding: get-layout("block-spacing", "large");
        }

        @include breakpoint("desktop-large") {
          padding: get-layout("block-spacing", "x-large");
        }
      }

      &--rating,
      &--actions,
      &--itinerary,
      &--toggler {

        @include breakpoint("tablet") {
          display: none;
        }
      }
    }

    .responsive-slider--pager {

      &-prev,
      &-next {

        @include breakpoint("tablet") {
          opacity: 1;
          z-index: 4;
        }

        &.off {

          @include breakpoint("tablet") {
            opacity: .5;
          }
        }
      }
    }
  }
}