$name: "menu-social";

/*
#{$name}

Liens vers les réseaux sociaux

sg-filename:
#{$name}

Markup:
<ul class="#{$name}">
  <li class="facebook"><a href="#">Facebook</a></li>
  <li class="twitter"><a href="#">Twitter</a></li>
  <li class="instagram"><a href="#">Instagram</a></li>
  <li class="pinterest"><a href="#">Pinterest</a></li>
  <li class="googleplus"><a href="#">Google plus</a></li>
  <li class="rss"><a href="#">RSS</a></li>
</ul>

Styleguide 3.12
*/

/*
#{$name}

Liens vers les réseaux sociaux

sg-filename:
#{$name}

Markup:
<ul class="#{$name} bigger">
  <li class="facebook"><a href="#">Facebook</a></li>
  <li class="twitter"><a href="#">Twitter</a></li>
  <li class="instagram"><a href="#">Instagram</a></li>
  <li class="pinterest"><a href="#">Pinterest</a></li>
  <li class="googleplus"><a href="#">Google plus</a></li>
  <li class="rss"><a href="#">RSS</a></li>
</ul>

Styleguide 3.14
*/

.#{$name} {
  @extend %inline-list-from-mobile;

  a {
    @extend %text-overflow-from-mobile;
    opacity: .75;
    transition: opacity $css-transition-std linear;
    background-position: center;
    width: get-icon('icon-community_facebook-std', 'width');
    height: get-icon('icon-community_facebook-std', 'height');
    background-size: 100% 100%;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: .9;
    }
  }

  li {
    margin: 0 get-layout("text-spacing", "smaller");

    &.facebook {

      a {
        @extend %icon-community_facebook-std;
      }
    }

    &.twitter {

      a {
        @extend %icon-community_twitter-std;
      }
    }

    &.instagram {

      a {
        @extend %icon-community_instagram-std;
      }
    }

    &.pinterest {

      a {
        @extend %icon-community_pinterest-std;
      }
    }

    &.googleplus {

      a {
        @extend %icon-community_googleplus-std;
      }
    }

    &.rss {

      a {
        @extend %icon-community_rss-std;
      }
    }
  }

  &.bigger {

    a {
      width: get-icon('icon-community_facebook-std', 'width') * 2;
      height: get-icon('icon-community_facebook-std', 'height') * 2;
    }

    li {
      margin: 0 get-layout("text-spacing", "std");
    }
  }
}