$name: "pager";

/*
Pager

Pagination

sg-filename:
#{$name}

Markup:
<ol class="#{$name}">
  <li><a href="#"><<</a></li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">>></a></li>
</ol>

sg-wrapper:
<div style="text-align:center;">
  <sg-wrapper-content/>
</div>

Styleguide 3.3
*/

.#{$name} {
  @extend %pager;

  li {
    @extend %pager--item;

    &.active {
      @extend %pager--item-active;
    }
  }

  a {
    @extend %pager--link;
  }
}