$name: "site-branding";

/*
#{$name}

Marque du site

default         - Version de base
small           - Version petite simple

sg-filename:
#{$name}

Markup:
<h1 class="#{$name} {$modifiers}">
  <span class="#{$name}--name">Nice Villages</span>
  <span class="#{$name}--baseline">Explore villages that are worth seeing</span>
</h1>

Styleguide 3.10
*/

.#{$name} {
  text-align: center;

  &--name {
    @extend %typeface-heading;
    @extend %fs-heading-up-3;
    line-height: 1;
    display: block;
    white-space: nowrap;

    &::before,
    &::after {
      content: "—";
      display: inline-block;
    }

    &::before {
      transition: margin $css-transition-std linear;
      margin-right: get-layout("block-spacing", "small");

      @include breakpoint("tablet") {
        margin-right: get-layout("block-spacing", "std");
      }

      @include breakpoint("desktop") {
        margin-right: get-layout("block-spacing", "large");
      }

      @include breakpoint("desktop-large") {
        margin-right: get-layout("block-spacing", "x-large");
      }
    }

    &::after {
      transition: margin $css-transition-std linear;
      margin-left: get-layout("block-spacing", "small");

      @include breakpoint("tablet") {
        margin-left: get-layout("block-spacing", "std");
      }

      @include breakpoint("desktop") {
        margin-left: get-layout("block-spacing", "large");
      }

      @include breakpoint("desktop-large") {
        margin-left: get-layout("block-spacing", "x-large");
      }
    }
  }

  &--baseline {
    @extend %typeface-std;
    @extend %fs-heading-root;
    line-height: 1;
    display: block;
    margin-top: .3333em;
  }

  &.small {

    .#{$name} {

      &--name {
        @extend %fs-heading-up-1;

        &::before {
          margin-right: get-layout("text-spacing", "std");
        }

        &::after {
          margin-left: get-layout("text-spacing", "std");
        }
      }

      &--baseline {
        @extend %fs-heading-down-1;
      }
    }
  }
}

a.#{$name} {
  display: block;

  &:hover {

    .#{$name}--name {

      &::before {
        margin-right: get-layout("block-spacing", "small") / 2;

        @include breakpoint("tablet") {
          margin-right: get-layout("block-spacing", "std") / 2;
        }

        @include breakpoint("desktop") {
          margin-right: get-layout("block-spacing", "large") / 2;
        }

        @include breakpoint("desktop-large") {
          margin-right: get-layout("block-spacing", "x-large") / 2;
        }
      }

      &::after {
        margin-left: get-layout("block-spacing", "small") / 2;

        @include breakpoint("tablet") {
          margin-left: get-layout("block-spacing", "std") / 2;
        }

        @include breakpoint("desktop") {
          margin-left: get-layout("block-spacing", "large") / 2;
        }

        @include breakpoint("desktop-large") {
          margin-left: get-layout("block-spacing", "x-large") / 2;
        }
      }
    }
  }

  &:active {
    opacity: .9;
  }

  &.small {

    &:hover {

      .#{$name} {

        &--name {

          &::before {
            margin-right: get-layout("text-spacing", "std") / 2;
          }

          &::after {
            margin-left: get-layout("text-spacing", "std") / 2;
          }
        }
      }
    }
  }
}