$name: "teaser-village";

/*
#{$name}

Aperçu dans une liste d'un village

Markup:
<div class="#{$name}" itemscope itemtype="http://schema.org/City">
  <a href="#" class="#{$name}--content">
    <div class="#{$name}--picture" itemprop="image" itemscope  itemtype="http://schema.org/ImageObject">
      <img src="img/models/teaser-village.jpg" alt="" width="400" height="225" itemprop="contentUrl" />
    </div>
    <div class="#{$name}--overlay">
      <h2 class="#{$name}--title">
        <span itemprop="name">Civita di Bagnoregio</span>&nbsp;<span class="#{$name}--flag"><img src="img/models/it.jpg" alt="" width="75" height="50" /></span>
      </h2>
      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="0" />
        <meta itemprop="longitude" content="0" />
      </div>
      <div class="#{$name}--rating">
        <sg-insert>2.6-4</sg-insert>
      </div>
    </div>
  </a>
  <sg-insert>3.5</sg-insert>
</div>

sg-wrapper:
<div style="width:35%;">
  <sg-wrapper-content/>
</div>

Styleguide 3.6
*/

.#{$name} {
  overflow: hidden;

  &--content {
    position: relative;
    display: block;

    &:hover,
    &:active {

      .#{$name}--picture {

        img {
          transform: scale(1.1);
        }
      }

      .#{$name}--overlay {
        background-color: rgba(get-color('grayscale', 'dark'), 0);
      }

      .#{$name}--rating {
        opacity: .5;
      }
    }

    &:active {

      .#{$name}--title {
        opacity: .9;
      }
    }
  }

  &--picture {

    li {
      display: none;

      &:first-child {
        display: block;
      }
    }

    img {
      @extend %flex-image-from-mobile;
      transition: transform $css-transition-std linear;
    }
  }

  &--overlay {
    @extend %overlay-from-mobile;
    @extend %color-grayscale-light;
    transition: background $css-transition-std linear;
    background-color: rgba(get-color('grayscale', 'dark'), .4);
  }

  &--title {
    @extend %typeface-heading;
    @extend %fs-heading-up-2;
    @extend %text-shadow-std;
    line-height: 1;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
    padding: get-layout("block-spacing", "large") get-layout("block-spacing", "small") get-layout("block-spacing", "small");

    @include breakpoint("desktop-large") {
      padding: get-layout("block-spacing", "x-large") get-layout("block-spacing", "std") get-layout("block-spacing", "std");
    }
  }

  &--flag {

    img {
      display: inline-block;
      height: .6em;
      width: auto;
      margin-left: get-layout("text-spacing", "std");
      box-shadow: get-layout('text-shadow', 'std');
    }
  }

  &--rating {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    box-sizing: border-box;
    opacity: 1;
    padding: get-layout("block-spacing", "small") get-layout("block-spacing", "small") 0 0;
    transition: opacity $css-transition-std linear;
  }
}