// Auto-complétion d'un champ de formulaire

$size-ajax-loder: 20px;

.form-item {

  .form-autocomplete {
    position: relative;

    &.throbbing {

      &::before {
        content: "";
        @extend %ajax-loader;
        position: absolute;
        right: $size-ajax-loder/2;
        top: 50%;
        margin-top: - $size-ajax-loder/2;
      }
    }
  }
}

#autocomplete {
  z-index: 100;
  position: absolute;
  overflow: hidden;
  @extend %background-grayscale-light;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);

  ul {

    li {
      padding: get-layout("text-spacing", "small") get-layout("text-spacing", "std");
      cursor: pointer;

      &:hover {
        color: get-color("grayscale", "light");
        background-color: get-color("brand", "first");
      }
    }
  }
}
