// Suffixe d'un champ de formulaire

.field-suffix {
  display: inline-block;
  @extend %typeface-system;
  @extend %typeface-std;
  padding-left: get-layout("text-spacing", "small");
  margin-top: get-layout("block-spacing", "std");
  margin-bottom: get-layout("block-spacing", "std");

  .machine-name-value {
    color: get-color("system", "info");
  }
}
