// Élément Drupal de formulaire

.form-item {
  @extend %fs-std-root;
  margin-bottom: get-layout("text-spacing", "large");

  label {
    @extend %form-label;
    display: block;

    &.edit-password-confirm1,
    &.edit-password-confirm2,
    &.option {
      @extend %form-label--inline;
    }
  }

  .form-text,
  .form-textarea,
  .form-select {
    @extend %form-field;
  }

  .form-select {
    padding-left: 0;
    padding-right: 0;

    &[multiple="multiple"] {
      min-height: 70px;
    }
  }

  .form-radio {
    @extend %form-radio;
  }

  .form-checkbox {
    @extend %form-checkbox;
  }

  .description {
    color: get-color("grayscale", "medium");
    margin: get-layout("text-spacing", "small") 0;
    @extend %fs-std-down-1;
  }

  div.password-suggestions {
    padding: get-layout("block-spacing", "small");
    border: 1px solid get-color("grayscale", "medium");

    ul {
      margin-top: get-layout("text-spacing", "std");
      list-style-type: disc;
      margin-left: 1.25em;
    }
  }
}
