// Fieldsets

fieldset {
  @extend %form-fieldset;
  clear: left;
  position: relative;

  legend {
    @extend %form-legend;
  }

  .fieldset-legend {
    position: relative;
    display: inline-block;
    margin-right: get-layout("text-spacing", "std");
    padding-left: get-layout("text-spacing", "small");
    padding-right: get-layout("text-spacing", "small");
  }

  .fieldset-description {
    @extend %typeface-std;
    color: get-color("brand", "first");
    margin-bottom: get-layout("text-spacing", "large");
  }

  .fieldset-wrapper {
    padding: get-layout("block-spacing", "small") 0;
  }

  &.collapsible {

    .fieldset-legend {
      padding-right: get-layout("text-spacing", "std");

      &::after {
        content: "▼";
        @extend %fs-std-down-1;
        position: absolute;
        right: -1em;
        top: 50%;
        margin-top: -.5em;
      }
    }

    &.collapsed {

      .fieldset-legend {

        &::after {
          content: "▶";
        }
      }

      .fieldset-wrapper {
        display: none;
      }
    }
  }
}
