// Niveau de sécurité d'un mot de passe

div.password-confirm,
div.password-strength {
  @extend %fs-std-down-1;
  width: 49%;
  float: right;

  // 12px correspondant au font-size de ".form-item label"
  margin-top: 12px + get-layout("text-spacing", "small");
}

div.password-confirm {

  span {
    @extend %typeface-system;
    font-weight: bold;
    padding-left: get-layout("text-spacing", "small");
    text-transform: uppercase;
  }
}

.password-strength {

  &-title {
    //
  }

  &-text {
    float: right;
    font-weight: bold;
  }
}

.password-indicator {
  width: 100%;
  height: get-layout("text-spacing", "smaller");
  margin: get-layout("text-spacing", "smaller") 0;
  background-color: get-color('grayscale', 'medium');

  .indicator {
    width: 0;
    height: 100%;
    background-color: get-color('system', 'success');
  }
}

input.password-confirm,
input.password-field {
  width: 49%;
}

.confirm-parent,
.password-parent,
div.password-suggestions {
  width: 50%;
}
