// Suggestion de recherche du moteur Apache SolR

.spelling-suggestions {

  dl {
    @extend %fs-std-up-1;
    padding: 0 get-layout("block-spacing", "small");
  }

  dt {
    margin-bottom: get-layout("text-spacing", "smaller");

    strong {
      font-weight: normal;
    }
  }

  dd {
    display: inline-block;
    margin-right: get-layout("block-spacing", "small");
  }

  a {
    color: get-color("system", "info");
  }
}
