// Page 404, 403, etc...

.page-404 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: get-color("grayscale", "light");
  background-color: get-color("brand", "first");

  > .padder {
    padding: 0 get-layout("block-spacing", "std");

    @include breakpoint('tablet') {
      padding: 0 20%;
    }

    @include breakpoint('desktop') {
      padding: 0 25%;
    }
  }

  &--title {
    @extend %typeface-heading;
    font-size: 210px;
    line-height: 1;
    margin-bottom: get-layout("block-spacing", "std");

    @include breakpoint('tablet') {
      font-size: 121px;
    }

    @include breakpoint('smartphone') {
      font-size: 75px;
      margin-bottom: get-layout("block-spacing", "std") / 2;
    }
  }

  &--desc {
    @extend %typeface-heading;
    line-height: 1;
    font-size: 18px;
    margin-bottom: get-layout("block-spacing", "std") / 2;

    @include breakpoint('tablet') {
      font-size: 21px;
    }

    @include breakpoint('desktop') {
      font-size: 38px;
      margin-bottom: get-layout("block-spacing", "std");
    }
  }

  &--actions {

    a {
      @extend %button-action;
    }
  }
}
