@charset "UTF-8";

/**
 * Sitemap Drupal
 *
 */

.sitemap {

  > .menu {
    @extend %clearfix;

    > li {
      float: left;
      margin: 0 0 get-layout("text-spacing", "large") 2%;
      width: 23.5%;

      @include breakpoint("tablet") {
        width: 32%;
      }

      @include breakpoint("smartphone") {
        float: none;
        width: auto;
        margin-left: 0;
      }

      > span,
      > a {
        @extend %text-heading-big;
        display: block;
        margin-top: 0;
        margin-bottom: get-layout("text-spacing", "std");
        padding-bottom: get-layout("text-spacing", "std");
        border-bottom: 1px solid get-color("block", "base-reversed");
      }

      .menu {
        @extend %font-size-small;
        margin-bottom: get-layout("text-spacing", "small");
        margin-left: 1.1em;
        list-style-type: disc;
      }

      li {
        margin: 0;
      }

      a {
        display: block;

        &:hover {
          color: get-color("theme", "action");
        }
      }

      &:nth-child(4n+1) {
        clear: left;
        margin-left: 0;

        @include breakpoint("tablet") {
          clear: none;
          margin-left: 2%;
        }
      }

      &:nth-child(3n+1) {

        @include breakpoint("tablet") {
          clear: left;
          margin-left: 0;
        }
      }
    }
  }
}
