%breadcrumbs {
  @extend %typeface-heading;
  @extend %fs-std-down-1;
  @extend %color-grayscale-dark;
  padding: get-layout('text-spacing', 'smaller') get-layout("block-spacing", "small");

  @include breakpoint("tablet") {
    padding: get-layout('text-spacing', 'smaller') get-layout("block-spacing", "std");
  }

  @include breakpoint("desktop") {
    padding: get-layout('text-spacing', 'small') get-layout("block-spacing", "large");
  }

  @include breakpoint("desktop-large") {
    padding: get-layout('text-spacing', 'small') get-layout("block-spacing", "x-large");
  }

  &--item {
    display: inline-block;

    &::before {
      content: "-";
      display: inline-block;
      margin: 0 get-layout('text-spacing', 'small');
    }

    &:first-child {

      &::before {
        display: none;
      }
    }

    a {

      &:active,
      &:hover {
        @extend %color-brand-first;
      }
    }
  }
}