%form {

  &-field {
    @extend %typeface-std;
    @extend %fs-std-root;
    @extend %border-grayscale-medium;
    @extend %color-grayscale-dark;
    @extend %background-grayscale-soft;
    @extend %box-shadow-inset;
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    padding: get-layout("text-spacing", "small") get-layout("text-spacing", "std");
    box-sizing: border-box;

    // Attention: Si cette propriété n'est pas définie, sur iOs, une valeur par défaut est appliquée
    border-radius: 0;

    &--focus {
      @extend %color-brand-first;
    }

    &--error {
      @extend %color-system-error;
      @extend %border-system-error;
    }

    &--description {
      @extend %typeface-std;
      @extend %fs-std-down-1;
      @extend %color-grayscale-strong;
      display: block;
      margin: get-layout("text-spacing", "small") 0 get-layout("text-spacing", "std");
    }
  }

  &-radio {
    display: inline-block;
    margin: 0 get-layout("text-spacing", "smaller") 0 0;
    vertical-align: middle;
  }

  &-checkbox {
    display: inline-block;
    margin: 0 get-layout("text-spacing", "smaller") 0 0;
    vertical-align: middle;
  }

  &-label {
    @extend %typeface-heading;
    @extend %fs-heading-root;
    display: inline-block;
    margin-bottom: get-layout("text-spacing", "smaller");
    font-weight: bold;

    &--inline {
      @extend %typeface-std;
      @extend %fs-std-down-1;
      text-transform: none;
      display: inline;
      color: inherit;
      font-weight: normal;
      padding-right: get-layout("text-spacing", "std");
    }
  }

  &-required {

    &::after {
      content: " *";
      @extend %color-system-error;
    }
  }

  &-fieldset {
    margin: get-layout("block-spacing", "small") 0 get-layout("block-spacing", "large");
    border-top: 1px dotted get-color("grayscale", "strong");
  }

  &-legend {
    @extend %typeface-heading;
    @extend %fs-heading-up-1;
    text-align: center;
    padding: 0 get-layout("block-spacing", "std");
    margin-bottom: get-layout("block-spacing", "std");
  }

  &-submit {
    @extend %button-action;
    @extend %button-action--is-input;

    &:hover {
      @extend %button-action--hover;
    }

    &:focus,
    &:active {
      @extend %button-action--active;
    }
  }

  &-validation {
    @extend %typeface-std;
    @extend %fs-std-root;
    @extend %color-grayscale-light;
    @extend %background-system-error;
    display: inline-block;
    font-weight: bold;
    padding: get-layout("block-spacing", "small") get-layout("block-spacing", "std");
  }

  &-grid {

    &-2 {

      @include breakpoint("desktop") {
        clear: left;
        float: left;
        width: 100%;
      }
    }

    &-1 {

      @include breakpoint("tablet") {
        padding: 0 get-layout("block-spacing", "std") 0 0;
      }

      @include breakpoint("desktop") {
        clear: left;
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 get-layout("block-spacing", "std") 0 0;
      }

      &--side-right {

        @include breakpoint("tablet") {
          padding: 0 0 0 get-layout("block-spacing", "std");
        }

        @include breakpoint("desktop") {
          clear: right;
          float: right;
          padding: 0 0 0 get-layout("block-spacing", "std");
        }
      }
    }
  }
}