/* stylelint-disable */

$grid-system: ();

@mixin grid-absolute($styleguideSectionPrefix:"1.1.2.", $margin: 0, $maxWidth: $site-range-max){

  // Loop
  $index: 1;
  $markup : "Grilles déclarées pour chaque palier responsive<br />";

  @each $name, $gridSize in $theme-grids {

    // Nom de la grille
    @if $index != 1 {
      $markup: $markup + styleguide-print-separator();
    }
    $markup: $markup + styleguide-print-title("Grille #{$name}");

    // Calculs
    $gridUnitWith: round((1/$gridSize)*1000000)/10000;

    // Préparation du styleguide
    $i: 1;
    @while $i <= $gridSize {
      $unitIndex: ($gridSize - ($i - 1));
      $unitWidth: round((1/$gridSize)*$i*1000000)/10000;

      $css: 'float:left;width:#{$gridUnitWith}%;padding:75px 0;background:rgba(#{$styleguide-item-box-bg},0.5);text-align:center;box-sizing:border-box;';
      @if $i > 1 {
        $css: $css+'border-left:1px solid rgb(#{$styleguide-item-box-bg});';
      }

      $markup: $markup+"<div title=\"[#{$unitWidth}vw] %grid-absolute-#{$name}-#{$i}\" style=\"#{$css}\">#{$i}</div>";

      $i: $i+1;
    }

    // Génération des placeholder à étendre
    %grid-absolute-#{$name} {

      $i: 1;
      @while $i <= $gridSize {
        // $unitWidth: round(($maxWidth/$gridSize)*$i*1000000)/1000000;
        $unitWidth: round($maxWidth/$gridSize*$i);

        &-#{$i} {

          // Construction de la map SASS
          $grid-system: map-merge($grid-system, ("grid-#{$name}-#{$i}": $unitWidth)) !global;
          $calculated-width: rounder(((100 - $margin) / $gridSize * $i), 5);

          @include breakpoint($name) {

            @if $margin > 0 {
              width: calc((100vw - #{$margin}px) / #{$gridSize} * #{$i});
            }
            @else {
              width: #{rounder(((100 - $margin) / $gridSize * $i), 5)}vw;
            }
            max-width: rounder((100 / $gridSize * $i), 5) * $site-range-max / 100;

          }

        }

        $i: $i+1;
      }

    }

    $index: $index+1;
  }

  /*
  Grille absolue (en vw — viewport width)

  #{$markup}

  Styleguide #{$styleguideSectionPrefix}
  */
}

/* stylelint-enable */