$name: "list-villages";

/*
#{$name}

liste de villages

sg-filename:
#{$name}

Markup:
<div class="#{$name}">
  <h2 class="#{$name}--title">
    6 village(s)
    <span class="#{$name}--note">over 6 found(s)</span>
  </h2>
  <ul class="#{$name}--list">
    <li class="#{$name}--item">
      <sg-insert>3.6</sg-insert>
    </li>
    <li class="#{$name}--item">
      <sg-insert>3.6</sg-insert>
    </li>
    <li class="#{$name}--item">
      <sg-insert>3.6</sg-insert>
    </li>
    <li class="#{$name}--item">
      <sg-insert>3.6</sg-insert>
    </li>
    <li class="#{$name}--item">
      <sg-insert>3.6</sg-insert>
    </li>
    <li class="#{$name}--item">
      <sg-insert>3.6</sg-insert>
    </li>
  </ul>
</div>

Styleguide 4.2
*/

.#{$name} {
  padding-top: get-layout("block-spacing", "std");

  @include breakpoint("tablet") {
    padding-bottom: (get-layout("block-spacing", "std") / 2);
  }

  @include breakpoint("desktop") {
    padding-top: get-layout("block-spacing", "large");
    padding-bottom: (get-layout("block-spacing", "large") / 2);
  }

  @include breakpoint("desktop-large") {
    padding-top: get-layout("block-spacing", "x-large");
    padding-bottom: (get-layout("block-spacing", "x-large") / 2);
  }

  .view-villages .view-content & {
    padding-top: 0;

    @include breakpoint("desktop") {
      padding-top: 0;
    }

    @include breakpoint("desktop-large") {
      padding-top: 0;
    }
  }

  &--title {
    @extend %fs-std-up-2;
    text-align: center;
    margin-bottom: get-layout("block-spacing", "std");

    @include breakpoint("tablet") {
      margin-bottom: (get-layout("block-spacing", "std") / 2);
    }

    @include breakpoint("desktop") {
      margin-bottom: (get-layout("block-spacing", "large") / 2);
    }

    @include breakpoint("desktop-large") {
      margin-bottom: (get-layout("block-spacing", "x-large") / 2);
    }

    .view-header & {
      padding-top: get-layout("block-spacing", "std");

      @include breakpoint("desktop") {
        padding-top: get-layout("block-spacing", "large");
      }

      @include breakpoint("desktop-large") {
        padding-top: get-layout("block-spacing", "x-large");
      }
    }
  }

  &--note {
    @extend %fs-std-root;
    display: block;
    text-align: center;
  }

  &--list {
    @extend %grid-strech-flex-from-tablet;
  }

  &--item {
    @extend %grid-tablet-6;
    @extend %grid-desktop-4;
    @extend %grid-desktop-large-3;
    box-sizing: border-box;
    margin: get-layout("block-spacing", "std") 0;
    padding: 0 get-layout("block-spacing", "std");

    @include breakpoint("tablet") {
      margin: (get-layout("block-spacing", "std") / 2) 0;
    }

    @include breakpoint("desktop") {
      margin: (get-layout("block-spacing", "large") / 2) 0;
      padding: 0 get-layout("block-spacing", "large");
    }
  }
}