$name: "map-search";

/*
#{$name}

Strate de recherche par la carte

sg-filename:
#{$name}

Markup:
<div class="#{$name}">
  <div class="#{$name}--aside">
    <sg-insert>4.3</sg-insert>
  </div>
  <div class="#{$name}--section">
    <div class="#{$name}--map-canvas" id="mapTest"></div>
    <div class="#{$name}--search">
      <sg-insert>2.5.1-5</sg-insert>
    </div>
  </div>
</div>

sg-wrapper:
<div>
  <sg-wrapper-content/>
  <script>
    var $mapTest = jQuery('#mapTest');
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2hlcGFvcDA3IiwiYSI6ImNqNjE5NThxZzByOHUzM21yd2Vtdjd2NmUifQ.KWUdy8hQ5LcLZvrQeoj1Zw';
    var mapTest = new mapboxgl.Map({
      container: $mapTest[0],
      style: 'mapbox://styles/mapbox/outdoors-v10',
      zoom: 8,
      minZoom: 4,
      maxZoom: 17,
      dragRotate: false,
      center: [0, 0],
      logoPosition: 'top-left'
    });
    mapTest.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
    mapTest.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    }));
  </script>
</div>

Styleguide 4.4
*/

.#{$name} {

  @extend %grid-strech-flex-from-tablet;
  @include breakpoint("tablet") {
    flex-wrap: nowrap;
  }

  &--section {
    @extend %grid-tablet-10;
    @extend %grid-desktop-9;
    @extend %grid-desktop-large-8;
    @extend %background-grayscale-soft;
    position: relative;
  }

  &--map-canvas {
    min-height: 75vh;
  }

  &--search {
    position: absolute;
    right: 50px;
    top: 10px;
    opacity: .9;
  }

  &--aside {
    @extend %grid-tablet-2;
    @extend %grid-desktop-3;
    @extend %grid-desktop-large-4;
    @extend %background-grayscale-dark;
  }

  &--marker {
    @extend %icon-map_std--standalone;
    cursor: pointer;

    &:hover {
      opacity: .9;
    }

    &:active {
      opacity: .75;
    }
  }
}