$name: "map-filters";

/*
#{$name}

Filtre de la carte

sg-filename:
#{$name}

Markup:
<form class="#{$name} action="#" method="get">
  <div class="form-item">
    <label>Note des internautes Min:</label>
    <input type="text" value="1" />
  </div>
  <div class="form-item">
    <label>Note des internautes Max:</label>
    <input type="text" value="5" />
  </div>
  <div class="form-item">
    <label>Population Min:</label>
    <input type="text" value="30" />
  </div>
  <div class="form-item">
    <label>Population Max:</label>
    <input type="text" value="80000" />
  </div>
  <div class="form-item">
    <label>Population Labels:</label>
    <input type="text" />
    <div class="form-description">You can add multiple labels separated by a coma “,”.</div>
  </div>
  <div class="form-item">
    <label>Latitude Min:</label>
    <input type="text" data-drupal-selector="edit-field-latitude-value-min" />
  </div>
  <div class="form-item">
    <label>Latitude Max:</label>
  <input type="text" data-drupal-selector="edit-field-latitude-value-max" />
  </div>
  <div class="form-item">
    <label>Longitude Min:</label>
  <input type="text" data-drupal-selector="edit-field-longitude-value-min" />
  </div>
  <div class="form-item">
    <label>Longitude Max:</label>
  <input type="text" data-drupal-selector="edit-field-longitude-value-max" />
  </div>
  <div class="form-actions">
    <button type="submit" class="button-action big block search">Rechercher</button>
  </div>
</form>

Styleguide 4.3
*/

.#{$name} {
  //
}