$name: "map-filters";

/*
#{$name}

Filtre de la carte

sg-filename:
#{$name}

Markup:
<div class="#{$name}">
  <h2 class="#{$name}--title">
    Search<span class="#{$name}--smaller">for a village</span>
  </h2>
  <div class="#{$name}--form">
    <form class="" action="#" method="get">
      <div class="form-item">
        <label>Note des internautes Min:</label>
        <input type="text" value="1" name="field_note_value[min]" />
      </div>
      <div class="form-item">
        <label>Note des internautes Max:</label>
        <input type="text" value="5" name="field_note_value[max]" />
      </div>
      <div class="form-item">
        <label>Population Min:</label>
        <input type="text" value="0" name="field_population_value[min]" />
      </div>
      <div class="form-item">
        <label>Population Max:</label>
        <input type="text" value="80000" name="field_population_value[max]" />
      </div>
      <div class="form-item">
        <label>Labels:</label>
        <input type="text" data-drupal-selector="edit-field-label" />
        <div class="description">You can add multiple labels separated by a coma “,”.</div>
      </div>
      <div class="form-item">
        <label>Latitude Min:</label>
        <input type="text" name="field_latitude_value[min]" />
      </div>
      <div class="form-item">
        <label>Latitude Max:</label>
      <input type="text" name="field_latitude_value[max]" />
      </div>
      <div class="form-item">
        <label>Longitude Min:</label>
      <input type="text" name="field_longitude_value[min]" />
      </div>
      <div class="form-item">
        <label>Longitude Max:</label>
      <input type="text" name="field_longitude_value[max]" />
      </div>
      <div class="form-actions">
        <button type="submit" class="button-action big block search">Rechercher</button>
      </div>
    </form>
  </div>
</div>

Styleguide 4.3
*/

.#{$name} {

  &--title {
    @extend %color-brand-first;
    @extend %typeface-heading;
    @extend %fs-heading-up-3;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: get-layout("block-spacing", "small");

    @include breakpoint("desktop") {
      margin-bottom: get-layout("block-spacing", "std");
    }
  }

  &--smaller {
    @extend %fs-heading-up-2;
    line-height: 1;
    text-transform: none;

    @include breakpoint("desktop-large") {
      display: block;
    }
  }

  &--datas {
    @extend %typeface-heading;
    @extend %fs-heading-down-1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: get-layout("text-spacing", "smaller");

    &-left {
      text-align: left;
      white-space: nowrap;
    }

    &-right {
      text-align: right;
      white-space: nowrap;
    }
  }

  &--prefix {
    @extend %typeface-std;
    margin-right: get-layout("text-spacing", "smaller");
  }

  &--suffix {
    @extend %typeface-std;
    margin-left: get-layout("text-spacing", "smaller");
  }

  &--star {
    @extend %icon-tools_star-dark--standalone;
    width: get-icon('icon-tools_star-dark', 'width') / 2;
    height: get-icon('icon-tools_star-dark', 'height') / 2;
    background-size: 100% 100%;
  }

  &--slider-wrapper {
    margin-top: get-layout("text-spacing", "smaller");
  }

  .form--inline {

    .form-item {
      display: block;
      margin-right: 0;
    }
  }

  .form-item {
    margin-bottom: get-layout("block-spacing", "small");

    &.form-type-select {
      margin-bottom: 0;
    }
  }
}