$name: "map-search";

/*
#{$name}

Strate de recherche par la carte

sg-filename:
#{$name}

Markup:
<div class="#{$name}">
  <div class="#{$name}--aside">
    <sg-insert>4.3</sg-insert>
  </div>
  <div class="#{$name}--section">
    <div class="#{$name}--map-canvas" id="mapTest"></div>
    <div class="#{$name}--search">
      <sg-insert>2.5.1-5</sg-insert>
    </div>
  </div>
</div>

sg-wrapper:
<div>
  <sg-wrapper-content/>
  <script>
    var $mapTest = jQuery('#mapTest');
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2hlcGFvcDA3IiwiYSI6ImNqNjE5NThxZzByOHUzM21yd2Vtdjd2NmUifQ.KWUdy8hQ5LcLZvrQeoj1Zw';
    var mapTest = new mapboxgl.Map({
      container: $mapTest[0],
      style: 'mapbox://styles/mapbox/outdoors-v10',
      zoom: 8,
      minZoom: 4,
      maxZoom: 17,
      dragRotate: false,
      center: [0, 0],
      logoPosition: 'top-left'
    });
    mapTest.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
    mapTest.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    }));
  </script>
</div>

Styleguide 4.4
*/

.#{$name} {

  @extend %grid-strech-flex-from-tablet;
  @include breakpoint("tablet") {
    flex-wrap: nowrap;
  }

  &--section {
    @extend %grid-tablet-7;
    @extend %grid-desktop-8;
    @extend %grid-desktop-large-9;
    @extend %background-grayscale-soft;
    position: relative;

    .ajax-loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }
  }

  &--map-canvas {
    min-height: 75vh;
    height: 100%;
  }

  &--search {
    position: absolute;
    right: 50px;
    top: 10px;
    opacity: .9;
  }

  &--aside {
    @extend %grid-tablet-5;
    @extend %grid-desktop-4;
    @extend %grid-desktop-large-3;
    @extend %background-grayscale-light;
    @extend %icon-ui_map-filters;
    background-position: right top;
    position: relative;
    box-sizing: border-box;
    padding: get-layout("block-spacing", "std") get-layout("block-spacing", "std") (get-layout("block-spacing", "std") + 80px);

    @include breakpoint("desktop") {
      padding: get-layout("block-spacing", "std") get-layout("block-spacing", "large") (get-layout("block-spacing", "large") + 80px);
    }

    @include breakpoint("desktop-large") {
      padding: get-layout("block-spacing", "large") get-layout("block-spacing", "x-large") (get-layout("block-spacing", "x-large") + 80px);
    }

    .form-actions {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }

  &--marker {
    @extend %map-marker;
  }
}