$name: "search-villages";

/*
#{$name}

Bloc de recherche de villages

sg-filename:
#{$name}

Markup:
<div class="#{$name}">
  <div class="#{$name}--filters map-search">
    <div class="map-search--aside">
      <sg-insert>4.3</sg-insert>
    </div>
    <div class="map-search--section">
      <div class="ajax-loader"></div>
    </div>
  </div>
  <div class="#{$name}--content">
    <sg-insert>4.2</sg-insert>
  </div>
</div>

Styleguide 4.5
*/

.#{$name} {

  &--filters {
    //
  }

  &--content {
    //
  }
}