// EU Cookie Compliance

#sliding-popup {
  display: block;
  margin: 0;
  padding: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  color: get-color("grayscale", "light");
  background-color: get-color("system", "info");

  &.sliding-popup-bottom {
    position: fixed;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .4);
  }

  &.sliding-popup-top {
    position: relative;
  }

  .popup-content {
    @extend .container;
  }
}

#popup-text {
  float: left;
  @extend %grid-desktop-9 !optional;
}

#popup-buttons {
  float: right;
  @extend %grid-desktop-2 !optional;
  margin-top: 14px;
  margin-left: map-get($grid-system, "grid-desktop-1");

  button {
    @extend %button-action;
    display: block;
    width: 100%;
    margin-bottom: get-layout("text-spacing", "small");
  }
}
